{% extends "base.html" %}
{% load static %}
{% block title %}Obnovení hesla{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">

{% endblock %}
{% block content %}
<section class="py-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">

        <div class="text-center">
            <div class="auth-card text-center">

            <div class="auth-eyebrow">Obnovení přístupu</div>

            <h1 class="auth-title">Zapomněli jste heslo?</h1>

            <p class="auth-lead">
                Zadejte e-mail, který používáte pro přihlášení.
                Pošleme vám odkaz pro nastavení nového hesla.
            </p>

            <form method="post">
                {% csrf_token %}

                <div class="mb-3 text-start">
                <label class="form-label">E-mail</label>
                {{ form.email }}
                </div>

                <button type="submit" class="auth-btn">
                Odeslat odkaz →
                </button>
            </form>

            <a href="{% url 'login' %}" class="auth-link">
                Zpět na přihlášení
            </a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
